language: node_js


node_js:
- '0.10'

after_script:
- "./node_modules/gulp/bin/gulp.js coveralls"
notifications:
email:
  recipients:
      - buildsampletest@gmail.com
      - vidya@shippable.com
  on_success: change
  on_failure: always
